.navbar {
    background-color: #0a081a;
    padding: 1.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(94, 91, 91);

}

.logo {
    text-decoration: none;
    color: white;
    
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu-link {
    margin-left: 20px;
    text-decoration: none;
    color: #cfc7c7;
}

.menu-link:hover{
    text-decoration: none;
}

.numerito{
    border-radius:50px;
    background-color: #f0e7e7;
    align-items: center;
    align-content: center;
    color: #0a081a;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 8px;
    margin-left: 5px;
    justify-content: center;
    display: inline-table;
    min-width: 20px;
    height: 20px;

}

.productos-menu {
    position: relative;
  }
  
  .submenu {
    border-radius: 12px;
    border-bottom: 2px solid rgb(94, 91, 91);
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #0a081a;
    padding: 0;
    list-style: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3)
  }
  
  .productos-menu:hover .submenu {
    display: block; 
  }
  
  .submenu li {
    padding: 10px;
  }
  
  .submenu li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px;
  }
  
  .submenu li a:hover {
    background-color: #444;
    border-radius: 12px;
  } 